<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_action1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{70,102}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,241},{70,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_action2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,735},{80,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{66,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{101,605},{66,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_cheer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{78,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{103,447},{78,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_cheer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{78,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,455},{78,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_climb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{105,241},{60,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_climb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{105,303},{60,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_duck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{68,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{99,817},{68,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,313},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_hang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{76,110}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_hold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{113,1},{80,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_hold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{54,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,679},{54,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{80,102}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{107,83},{80,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{66,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,611},{66,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{74,102}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{105,165},{74,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_kick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{103,365},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_skid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,817},{70,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_slide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{99,737},{78,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{101,673},{62,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_swim1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,102}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,159},{80,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_swim2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{78,104}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,79},{78,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_talk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{76,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{101,527},{76,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,535},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{58,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{1,395},{58,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Man.pvr.ccz</string>
            <key>size</key>
            <string>{212,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab4f52985b8097eba2a0636266bd21ed:2186327949f3e420baecf9f9d2902a83:71b591dc6823eb1ca458c5105cab5aee$</string>
            <key>textureFileName</key>
            <string>Man.pvr.ccz</string>
        </dict>
    </dict>
</plist>
